.table {
    border: 2px solid #5E4725;
    margin-top: 4em;
    border-radius: 4px;
    min-width: 500px;
}

.table-header {
    /* background-color: #f4f4f4; */
    background-color: #C2C0A2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border-bottom: 1px solid #5E4725;
}

.table-header h1 {
    margin-bottom: 0.4em;
    align-self: center;
}


.assignment-table-header .btn {
    padding: 0.5em 1em; /* Adjust padding to make the button smaller */
    font-size: 0.8rem; /* Adjust font size to make text smaller */
    margin: 0.2em; 
  }

.pagination {
    display: flex;
    justify-content: left;
    gap: 0.3em;
}
 
.cell {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

  