.headline {
    text-decoration: underline;
    text-align: center;
}

.submission-item {
    cursor: pointer;
    margin: 10px 0;
}

.submission-toggle-icon {
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}

.submission-details {
    padding-left: 20px;
}

.submission-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.submission-info {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allows it to take up the necessary space */
}

.footer {
    display: flex;
    gap: 5px;
}

.close-button .stop-button .Extract-button {
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
}




.submission-item button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.btn-group {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.spinner {
   animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.pagination-controls {
  display: flex;
  justify-content: left;
  gap: 0.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}