
.left-align {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.assignment-status {
  margin: 10px 0;
}

.teacherStuff {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  width: 100%; 
  padding-right: 10px;
}

.teacherStuff button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit; 
}

.teacherStuff button svg {
  width: 18px;  /* Controls the width of the SVG icon */
  height: 18px; /* Controls the height of the SVG icon */
}

.teacherStuff button:last-child {
  margin-right: 10px;
}

.teacherStuff button:hover {
  background-color: rgba(0,0,0,0.1); 
}


.file-info {
  min-height: 50px;  
  display: flex;
  align-items: center;
  justify-content: center;  
  background: #f8f8f8; 
  margin: 10px 0;
  padding: 0 10px;  
  position: relative; /* This line is crucial for correct positioning of the remove-file button */
}

.file-icon {
  width: 28px; 
  height: 28px;
  margin-right: 6px; /* Space between icon and filename */
}

.remove-file {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  background: #ccc;
  border-radius: 50%;
  padding: 0 5px;
}

.file-info:hover .remove-file {
  display: block;
}

p {
  color: black;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
}

button[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.cell.dimmed {
  opacity: 0.5;
  pointer-events: none;
}

.cell.dimmed .teacherStuff button {
  pointer-events: auto;
}