.assignment-status {
    font-weight: bold;
}

.assignment-status span:first-child {
    font-size: large;
}

.error {
    color: #ad2215; 
    margin: 0 0;
    margin-left: 0.2em;
}

.uploaded {
    color: #8f908e;
    margin: 0 0;
    margin-left: 0.2em;

}

.not-submitted {
    color: #8f908e;
    margin: 0 0;
    margin-left: 0.2em;
}

.submitted {
    color:#9A9F78;
    margin: 0 0;
    margin-left: 0.2em;
}

.status-icon {
    font-size: 1.5em; 
    margin: 0 0;
    margin-left: 0.2em; 
    display: inline-block; 
    line-height: 1;
    vertical-align: middle;
}

.status-icon.success {
    color:#9A9F78;
    
}

.status-icon.error {
    color: #ad2215; 
}


