.assignment-status {
    font-weight: bold;
}

.assignment-status span:first-child {
    font-size: large;
}

.error {
    color: #ad2215; 
}

.not-submitted {
    color: #8f908e;
}

.submitted {
    color:#9A9F78;
}

.status-icon {
    font-size: 1.5em; 
    margin-left: 0.5em; 
}

.status-icon.success {
    color: green;
    margin: 0 0;
    font-size: 1.2em;
    vertical-align: middle;
}

.status-icon.error {
    color: red;
    margin: 0 0;
    font-size: 1.2em;
    vertical-align: middle;
}


